

div {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate( -50%, -50%);
}

img {
  height: 500px;
}

img:hover {
  transform: scale(1.05); /* 마우스 올리면 확대 */
}

a {
  text-decoration: none;
}